*{
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ff3737d0;
}

.container{
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    
}   

#pri{
    background-color: #576ef1;
    color: #333;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    
    margin: auto;
    margin-top: 60px;
    text-align: center;
}

div{
    margin-top: 20px;
    border-radius: 10px;
    width: 300px;

}
h1{
    text-align: center;
    margin-top: 20px;
    color: #000000;
    padding-bottom: 10px;
}

@media screen and (max-width:480px)
{
    .container { width: 400px; }

    #nav
    {
        float: none;
        width: auto;
    }

    #content
    {
        float: none;
        width: auto;
        margin: 0;
    }

    #extras
    {
        float: none;
        width: auto;
        margin: 0;
    }

    .feature-image { display: none; }
}