@media (max-width: 786px){
    body, html {
    overflow-x: hidden!important;
    }
    }




body{
    background-image: url(img/manga-anime-collection-thumb.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

}

#principal{
    border-radius: 15px;
    width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    background-color: aqua;
}

#principal h1{
    font-size: 30px;
    color: #000000;
    margin-bottom: 20px;
}
button{
    background-color: #000000;
    color: aqua;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
.quote{
    font-size: 20px;
    padding-top: 20px;
    color: #000000;
    margin-bottom: 20px;
    line-height: 30px;
}